<nav class="navbar navbar-expand-lg bg-body-tertiary m-0 p-0 fixed-top">
  <div class="container-fluid  text-bg-dark p-3">
    <a class="navbar-brand  ms-5 ps-5 text-bg-dark " href="/">SUWEB</a>
    <button class="navbar-toggler text-bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-bg-white"></span>
    </button>
    <div class="collapse navbar-collapse text-white ps-5 ms-5" id="navbarNav">
      <ul class="navbar-nav  ps-5 rem ms-5">
        <li class="nav-item ps-5 ms-5">
          <a class="nav-link text-bg-dark active" aria-current="page" href="/achievements">Achievements</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-bg-dark active" aria-current="page" href="/skills">Skills</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-bg-dark active" aria-current="page" href="/resume">Resume</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-bg-dark active" aria-current="page" href="/certificates">Certificates</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-bg-dark active" aria-current="page" href="/contact">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>