<% layout("/layouts/boilerplate") %>
<div class="card" style="width: 32rem; height: 28rem; margin-top: 100px; margin-left: 400px;">
    <img class="card-img-top" src="\images\1699976733204-certificate.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Compeletion of free Youtube Javascript Course by Prashant Jain Sir, this course covers Javascrpt from basic to advance .</p>
    </div>
  </div>

  <div class="card" style="width: 32rem; height: 28rem; margin-top: 100px; margin-left: 400px;">
    <img class="card-img-top" src="\images\IMG_20240710_192233.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">I completed this course which taugth full MERN Stack based web-development projects and they also taught us Version controls(Git, Github) .</p>
    </div>
  </div>

  <div class="card" style="width: 32rem; height: 26rem; margin-top: 100px; margin-left: 400px;">
    <img class="card-img-top" src="\images\web3(102).png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">I got this certificate for the Compeletion of Web3 workshop which was organized by my college.</p>
    </div>
  </div>

  <div class="card" style="width: 32rem; height: 28rem; margin-top: 100px; margin-left: 400px;">
    <img class="card-img-top" src="\images\IMG_20240711_165157.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">I got this certificate for the Compeletion of Computing technology workshop which was organized by my college.</p>
    </div>
  </div>

  <div class="card" style="width: 32rem; height: 24rem; margin-top: 100px; margin-left: 400px;">
    <img class="card-img-top" src="\images\IMG_20240711_165255.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">I got this certificate for attending the webinar related to DSA and finding Off-Campus opportunities which was organized by my college(YCCE) .</p>
    </div>
  </div>