<% layout("/layouts/boilerplate") %>

<div class="contact" style="display: flex; flex-direction: row;">
<div class="contact1" style="color: white; margin-top: 100px; margin-left: 30px;">
<h1><b>CONTACT</b></h1> <br><br>
<h4>Let's Connect</h4>
<h4><b>DIGITALLY</b></h4>
</div>

<div class="contact2" style=" margin-left: 450px; margin-top: 220px;">
<a style="color: white; text-decoration: none;" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrjmjWBVwrslhFmqnRGKJGcNVbGDSwRRvCQzVccNzhDwVFzvNqRblgWhXrVMJPKcGPftVB"><h3> <i class="fab fa-google"></i
    >      <b>EMAIL</b></h3></a>
<a style="color: white; text-decoration: none;" href="https://github.com/Sujal1123"><h3>  <i class="fab fa-github"></i
    >      <b>GITHUB</b></h3></a>
<a style="color: white; text-decoration: none;" href="https://www.linkedin.com/in/sujal-dandhale-894159280/"><h3> <i class="fab fa-linkedin-in"></i
    >      <b>LINKEDIN</b></h3></a>
</div>

</div>