<% layout("/layouts/boilerplate") %>
<div class="resume" style="margin-top: 100px; color: white;">
<h1 style="margin-left: 50px"><b><u>RESUME</u> :</b></h1>
<iframe style="margin-left: 250px; margin-top: 30px;" src="/pdf/MyResume.pdf" width="800" height="600"></iframe>
</div>