<% layout("/layouts/boilerplate") %>

<div class="body1" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
<div class="card" style="width: 18rem; margin-top: 100px;">
    <img src="/images/debugging.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Testing And Debbuging</p>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-top: 100px;">
    <img src="/images/Frontend-vs-Backend.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Frontend And Backend</p>
    </div>
  </div>
</div>

<div class="body2" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/images/ps.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Problem Solving</p>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/images/design1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Web Designing</p>
        </div>
      </div>
</div>

<div class="body3" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
  <div class="card" style="width: 18rem; margin-top: 100px;">
      <img src="/images/ue.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">User Experience</p>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin-top: 100px;">
      <img src="/images/dbms.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">DBMS</p>
      </div>
    </div>
</div>