<% layout("/layouts/boilerplate") %>

    <div class="row mt-3 flash">
        <div class="alert alert-danger col-6 offset-3 flash" role="alert">
            <p class="alert-heading"> <%= error.message  %></p>
        </div>
    </div>